// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
    color: #5DADE2
}

table, th, td {
    border: 1px solid #add8e6;
    border-collapse: collapse;
    border-spacing: 5px;
    width: auto;
}

th {
    color: #5DADE2
}